$mdi-filename:         "materialdesignicons";
$mdi-font-name:        "Material Design Icons";
$mdi-font-family:      "materialdesignicons";
$mdi-font-weight:      "normal";
$mdi-font-path:        "../fonts" !default;
$mdi-font-size-base:   24px !default;
$mdi-css-prefix:       mdi !default;
$mdi-version:          "5.9.55" !default;

$mdi-icons: (
  "ab-testing": F01C9,
  "abacus": F16E0,
  "abjad-arabic": F1328,
  "abjad-hebrew": F1329,
  "abugida-devanagari": F132A,
  "abugida-thai": F132B,
  "access-point": F0003,
  "access-point-check": F1538,
  "access-point-minus": F1539,
  "access-point-network": F0002,
  "access-point-network-off": F0BE1,
  "access-point-off": F1511,
  "access-point-plus": F153A,
  "access-point-remove": F153B,
  "account": F0004,
  "account-alert": F0005,
  "account-alert-outline": F0B50,
  "account-arrow-left": F0B51,
  "account-arrow-left-outline": F0B52,
  "account-arrow-right": F0B53,
  "account-arrow-right-outline": F0B54,
  "account-box": F0006,
  "account-box-multiple": F0934,
  "account-box-multiple-outline": F100A,
  "account-box-outline": F0007,
  "account-cancel": F12DF,
  "account-cancel-outline": F12E0,
  "account-cash": F1097,
  "account-cash-outline": F1098,
  "account-check": F0008,
  "account-check-outline": F0BE2,
  "account-child": F0A89,
  "account-child-circle": F0A8A,
  "account-child-outline": F10C8,
  "account-circle": F0009,
  "account-circle-outline": F0B55,
  "account-clock": F0B56,
  "account-clock-outline": F0B57,
  "account-cog": F1370,
  "account-cog-outline": F1371,
  "account-convert": F000A,
  "account-convert-outline": F1301,
  "account-cowboy-hat": F0E9B,
  "account-details": F0631,
  "account-details-outline": F1372,
  "account-edit": F06BC,
  "account-edit-outline": F0FFB,
  "account-group": F0849,
  "account-group-outline": F0B58,
  "account-hard-hat": F05B5,
  "account-heart": F0899,
  "account-heart-outline": F0BE3,
  "account-key": F000B,
  "account-key-outline": F0BE4,
  "account-lock": F115E,
  "account-lock-outline": F115F,
  "account-minus": F000D,
  "account-minus-outline": F0AEC,
  "account-multiple": F000E,
  "account-multiple-check": F08C5,
  "account-multiple-check-outline": F11FE,
  "account-multiple-minus": F05D3,
  "account-multiple-minus-outline": F0BE5,
  "account-multiple-outline": F000F,
  "account-multiple-plus": F0010,
  "account-multiple-plus-outline": F0800,
  "account-multiple-remove": F120A,
  "account-multiple-remove-outline": F120B,
  "account-music": F0803,
  "account-music-outline": F0CE9,
  "account-network": F0011,
  "account-network-outline": F0BE6,
  "account-off": F0012,
  "account-off-outline": F0BE7,
  "account-outline": F0013,
  "account-plus": F0014,
  "account-plus-outline": F0801,
  "account-question": F0B59,
  "account-question-outline": F0B5A,
  "account-reactivate": F152B,
  "account-reactivate-outline": F152C,
  "account-remove": F0015,
  "account-remove-outline": F0AED,
  "account-search": F0016,
  "account-search-outline": F0935,
  "account-settings": F0630,
  "account-settings-outline": F10C9,
  "account-star": F0017,
  "account-star-outline": F0BE8,
  "account-supervisor": F0A8B,
  "account-supervisor-circle": F0A8C,
  "account-supervisor-circle-outline": F14EC,
  "account-supervisor-outline": F112D,
  "account-switch": F0019,
  "account-switch-outline": F04CB,
  "account-tie": F0CE3,
  "account-tie-outline": F10CA,
  "account-tie-voice": F1308,
  "account-tie-voice-off": F130A,
  "account-tie-voice-off-outline": F130B,
  "account-tie-voice-outline": F1309,
  "account-voice": F05CB,
  "adjust": F001A,
  "adobe": F0936,
  "adobe-acrobat": F0F9D,
  "air-conditioner": F001B,
  "air-filter": F0D43,
  "air-horn": F0DAC,
  "air-humidifier": F1099,
  "air-humidifier-off": F1466,
  "air-purifier": F0D44,
  "airbag": F0BE9,
  "airballoon": F001C,
  "airballoon-outline": F100B,
  "airplane": F001D,
  "airplane-landing": F05D4,
  "airplane-off": F001E,
  "airplane-takeoff": F05D5,
  "airport": F084B,
  "alarm": F0020,
  "alarm-bell": F078E,
  "alarm-check": F0021,
  "alarm-light": F078F,
  "alarm-light-off": F171E,
  "alarm-light-off-outline": F171F,
  "alarm-light-outline": F0BEA,
  "alarm-multiple": F0022,
  "alarm-note": F0E71,
  "alarm-note-off": F0E72,
  "alarm-off": F0023,
  "alarm-panel": F15C4,
  "alarm-panel-outline": F15C5,
  "alarm-plus": F0024,
  "alarm-snooze": F068E,
  "album": F0025,
  "alert": F0026,
  "alert-box": F0027,
  "alert-box-outline": F0CE4,
  "alert-circle": F0028,
  "alert-circle-check": F11ED,
  "alert-circle-check-outline": F11EE,
  "alert-circle-outline": F05D6,
  "alert-decagram": F06BD,
  "alert-decagram-outline": F0CE5,
  "alert-minus": F14BB,
  "alert-minus-outline": F14BE,
  "alert-octagon": F0029,
  "alert-octagon-outline": F0CE6,
  "alert-octagram": F0767,
  "alert-octagram-outline": F0CE7,
  "alert-outline": F002A,
  "alert-plus": F14BA,
  "alert-plus-outline": F14BD,
  "alert-remove": F14BC,
  "alert-remove-outline": F14BF,
  "alert-rhombus": F11CE,
  "alert-rhombus-outline": F11CF,
  "alien": F089A,
  "alien-outline": F10CB,
  "align-horizontal-center": F11C3,
  "align-horizontal-left": F11C2,
  "align-horizontal-right": F11C4,
  "align-vertical-bottom": F11C5,
  "align-vertical-center": F11C6,
  "align-vertical-top": F11C7,
  "all-inclusive": F06BE,
  "allergy": F1258,
  "alpha": F002B,
  "alpha-a": F0AEE,
  "alpha-a-box": F0B08,
  "alpha-a-box-outline": F0BEB,
  "alpha-a-circle": F0BEC,
  "alpha-a-circle-outline": F0BED,
  "alpha-b": F0AEF,
  "alpha-b-box": F0B09,
  "alpha-b-box-outline": F0BEE,
  "alpha-b-circle": F0BEF,
  "alpha-b-circle-outline": F0BF0,
  "alpha-c": F0AF0,
  "alpha-c-box": F0B0A,
  "alpha-c-box-outline": F0BF1,
  "alpha-c-circle": F0BF2,
  "alpha-c-circle-outline": F0BF3,
  "alpha-d": F0AF1,
  "alpha-d-box": F0B0B,
  "alpha-d-box-outline": F0BF4,
  "alpha-d-circle": F0BF5,
  "alpha-d-circle-outline": F0BF6,
  "alpha-e": F0AF2,
  "alpha-e-box": F0B0C,
  "alpha-e-box-outline": F0BF7,
  "alpha-e-circle": F0BF8,
  "alpha-e-circle-outline": F0BF9,
  "alpha-f": F0AF3,
  "alpha-f-box": F0B0D,
  "alpha-f-box-outline": F0BFA,
  "alpha-f-circle": F0BFB,
  "alpha-f-circle-outline": F0BFC,
  "alpha-g": F0AF4,
  "alpha-g-box": F0B0E,
  "alpha-g-box-outline": F0BFD,
  "alpha-g-circle": F0BFE,
  "alpha-g-circle-outline": F0BFF,
  "alpha-h": F0AF5,
  "alpha-h-box": F0B0F,
  "alpha-h-box-outline": F0C00,
  "alpha-h-circle": F0C01,
  "alpha-h-circle-outline": F0C02,
  "alpha-i": F0AF6,
  "alpha-i-box": F0B10,
  "alpha-i-box-outline": F0C03,
  "alpha-i-circle": F0C04,
  "alpha-i-circle-outline": F0C05,
  "alpha-j": F0AF7,
  "alpha-j-box": F0B11,
  "alpha-j-box-outline": F0C06,
  "alpha-j-circle": F0C07,
  "alpha-j-circle-outline": F0C08,
  "alpha-k": F0AF8,
  "alpha-k-box": F0B12,
  "alpha-k-box-outline": F0C09,
  "alpha-k-circle": F0C0A,
  "alpha-k-circle-outline": F0C0B,
  "alpha-l": F0AF9,
  "alpha-l-box": F0B13,
  "alpha-l-box-outline": F0C0C,
  "alpha-l-circle": F0C0D,
  "alpha-l-circle-outline": F0C0E,
  "alpha-m": F0AFA,
  "alpha-m-box": F0B14,
  "alpha-m-box-outline": F0C0F,
  "alpha-m-circle": F0C10,
  "alpha-m-circle-outline": F0C11,
  "alpha-n": F0AFB,
  "alpha-n-box": F0B15,
  "alpha-n-box-outline": F0C12,
  "alpha-n-circle": F0C13,
  "alpha-n-circle-outline": F0C14,
  "alpha-o": F0AFC,
  "alpha-o-box": F0B16,
  "alpha-o-box-outline": F0C15,
  "alpha-o-circle": F0C16,
  "alpha-o-circle-outline": F0C17,
  "alpha-p": F0AFD,
  "alpha-p-box": F0B17,
  "alpha-p-box-outline": F0C18,
  "alpha-p-circle": F0C19,
  "alpha-p-circle-outline": F0C1A,
  "alpha-q": F0AFE,
  "alpha-q-box": F0B18,
  "alpha-q-box-outline": F0C1B,
  "alpha-q-circle": F0C1C,
  "alpha-q-circle-outline": F0C1D,
  "alpha-r": F0AFF,
  "alpha-r-box": F0B19,
  "alpha-r-box-outline": F0C1E,
  "alpha-r-circle": F0C1F,
  "alpha-r-circle-outline": F0C20,
  "alpha-s": F0B00,
  "alpha-s-box": F0B1A,
  "alpha-s-box-outline": F0C21,
  "alpha-s-circle": F0C22,
  "alpha-s-circle-outline": F0C23,
  "alpha-t": F0B01,
  "alpha-t-box": F0B1B,
  "alpha-t-box-outline": F0C24,
  "alpha-t-circle": F0C25,
  "alpha-t-circle-outline": F0C26,
  "alpha-u": F0B02,
  "alpha-u-box": F0B1C,
  "alpha-u-box-outline": F0C27,
  "alpha-u-circle": F0C28,
  "alpha-u-circle-outline": F0C29,
  "alpha-v": F0B03,
  "alpha-v-box": F0B1D,
  "alpha-v-box-outline": F0C2A,
  "alpha-v-circle": F0C2B,
  "alpha-v-circle-outline": F0C2C,
  "alpha-w": F0B04,
  "alpha-w-box": F0B1E,
  "alpha-w-box-outline": F0C2D,
  "alpha-w-circle": F0C2E,
  "alpha-w-circle-outline": F0C2F,
  "alpha-x": F0B05,
  "alpha-x-box": F0B1F,
  "alpha-x-box-outline": F0C30,
  "alpha-x-circle": F0C31,
  "